.itemCard {
  @mixin dark {
    background-color: rgba(46, 46, 46, var(--opacity));
    border-color: rgba(66, 66, 66, var(--opacity));
  }
  @mixin light {
    background-color: rgba(255, 255, 255, var(--opacity));
    border-color: rgba(222, 226, 230, var(--opacity));
  }
}
