Dockerfile
.dockerignore
node_modules
**/node_modules
npm-debug.log
README.md
.next
.turbo
.pnpm-store
**/.pnpm-store
coverage
**/coverage
**/.docusaurus
**/build
.git
.github
dev
.build
e2e
apps/docs
apps/nextjs/.next
.env
.env.*
!.env.example
