Dockerfile
.dockerignore
node_modules
**/node_modules
npm-debug.log
README.md
.next
.turbo
.bun-cache
**/.bun-cache
coverage
**/coverage
**/.docusaurus
**/build
.git
.github
dev
.build
e2e
apps/docs/*
!apps/docs/package.json
apps/nextjs/.next
.env
.env.*
!.env.example

benchmark-results
scripts/benchmarks/results
**/__pycache__
**/*.tsbuildinfo
