.swiperText {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 50px;
}



.communityFeedbackPlaceholderImage {
  display: block;
  margin: 0 auto;
}

.communityFeedbackPlaceholderText {
  text-align: center;
}


