.appIcon {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  flex: 1 !important;
  object-fit: contain;
  scale: 0.8;
  transition: scale 0.2s ease-in-out;
}

.appWithUrl:hover > .appIcon {
  scale: 0.9;
}

.appWithUrl:hover > div.appIcon {
  background-color: var(--mantine-color-iconColor-filled-hover);
}
