.card,
.row {
  background-color: transparent;
  border-color: rgb(from var(--mantine-color-default-border) r g b / calc(var(--opacity, 1) * 0.38));
}

.row {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
