.card,
.row {
  background-color: transparent;
  border-color: rgb(from var(--mantine-color-default-border) r g b / calc(var(--opacity, 1) * 0.38));
}

.row {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.body {
  width: 100%;
  overflow-wrap: anywhere;

  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  & img {
    max-width: 100%;
    height: auto;
  }
  & pre {
    white-space: pre-wrap;
  }
  & table {
    display: block;
    overflow-x: auto;
  }
}
