.downloads-widget-table {
  /*Set Header static and overflow body instead*/
  display: flex;
  height: 100%;
  flex-direction: column;
  .mantine-Table-tbody {
    overflow-y: auto;
    flex: 1;
    scrollbar-width: 0;
  }
  /*Hide scrollbar until I can apply an overlay scrollbar instead*/
  .mantine-Table-tbody::-webkit-scrollbar {
    width: 0;
  }
  /*Properly size header*/
  .mrt-table-head-cell-labels {
    min-height: var(--ratioWidth);
    gap: 0;
    padding: 0;
  }
  /*Properly size controls*/
  .mrt-grab-handle-button {
    margin: unset;
    width: var(--dragButtonSize);
    min-width: var(--dragButtonSize);
    height: var(--dragButtonSize);
    min-height: var(--dragButtonSize);
  }
  .mrt-table-head-sort-button {
    margin: unset;
    width: var(--sortButtonSize);
    min-width: var(--sortButtonSize);
    height: var(--sortButtonSize);
    min-height: var(--sortButtonSize);
  }
}
