.root {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  border-radius: var(--mantine-radius-md);
}

.root[data-display="logo"] {
  justify-content: center;
  width: calc(var(--app-shell-header-height) - 0.5rem);
  height: calc(var(--app-shell-header-height) - 0.5rem);
  overflow: hidden;
}

.root[data-display="logo"] img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(var(--app-shell-header-height) - 0.5rem);
  object-fit: contain;
}
