.desktopSearch {
  @mixin smaller-than $mantine-breakpoint-sm {
    display: none;
  }

  > div {
    --_input-bd-override: var(--_input-bd);

    button:focus-within {
      border-color: var(--_input-bd-override);
    }

    button {
      cursor: pointer;
      color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    }
  }

  cursor: pointer;
}

.mobileSearch {
  @mixin larger-than $mantine-breakpoint-sm {
    display: none;
  }
}
