.placeItem {
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  transition: all 0.2s ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }
}
