.card:hover {
  background-color: var(--mantine-color-primaryColor-light-hover);
}

.bookmarkButton:focus-visible {
  outline: 2px solid var(--mantine-primary-color-filled);
  outline-offset: 2px;
  border-radius: var(--mantine-radius-sm);
}

[data-mantine-color-scheme="light"] .card-grid {
  background-color: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme="dark"] .card-grid {
  background-color: var(--mantine-color-dark-7);
}

.card:hover > div > div.bookmarkIcon {
  background-color: var(--mantine-color-iconColor-filled-hover);
}

.bookmarkButton:focus-visible .bookmarkIcon {
  background-color: var(--mantine-color-iconColor-filled-hover);
}

.compactScrollArea :global(.mantine-ScrollArea-viewport) > div {
  display: flex !important;
  width: 100%;
  min-height: 100%;
}

.compactScrollContent {
  flex: 1;
  min-width: 100%;
  min-height: 100%;
}
