name: "[Crowdin] Upload translations"

on:
  workflow_dispatch:
  push:
    paths:
      - "packages/translation/src/lang/**"
    branches: [dev]

jobs:
  upload-crowdin-translations:
    # Don't run this action if the downloaded translations are being pushed
    if: "!contains(github.event.head_commit.message, 'chore(lang)')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Upload Crowdin translations
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: true
          download_translations: false
        env:
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
